/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
    --primary:#6654CB ;
    --secondary: #0D0A19;
    --ternary: #2A2835;
  
    --primary-font: 'Inter', sans-serif;
    
  }