/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --primary:#151221;
    --accent:#6654CB ;
    --secondary: #0D0A19;
    --ternary: #2A2835;
    --mute: #9A9EA7;
    
  
    --primary-font: 'Inter', sans-serif;
    
  }