
.cs_counter_wrap{
    padding-top: 25px;
}
.cs_counter{
    height: 72px;
    width: 64px;
    margin-right: 10px;
    border: 1px solid #E4E6E8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cs_autions_img{
    padding-left: 104px;
}
.cs_auction_btn_icon{
    padding-right: 8px;
}
@media screen and (max-width: 994px) {
    .cs_auction{
        img{
            display: none;
        }
    }
    
}