.cs_footer{
    background-color: #F5F6F7;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a{
        display: block;
        cursor: pointer;
    }
}
.cs_pricacy_policy{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: #fff;
    
    span{
        padding-right: 14px;
    }
    i{
        padding-right: 5px;
        color: var(--mute);
    }
}
@media screen and (max-width: 994px) {
    .cs_footer{
        .row{
            display: none;
        }
        .cs_pricacy_policy{
            flex-direction: column-reverse;
            
        background-color: #F5F6F7;
        }
        .cs_pricacy_policy_in{
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                margin-bottom: 25px;
            }
        }

        .cs_footer_usd{
            justify-content: space-between;
            margin-bottom: 30px;
        }
    }
}