// .cs_site_header {
   
// }

// .cs_main_header {

// }

.cs_main_header_in {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   a{
    font-size: 16px;
   }
}

.cs_main_header_right {
    .cs_nav {

        .cs_nav_list {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            list-style: none;


            li {
                list-style: none;
                padding-right: 45px;
            }

        }
    }
}
.signUp{
    a{
    display: flex;
    align-items: center;
    .signUp-box{
        width: 32px;
        height: 32px;
        background-color: #F5F6F7;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p{
        padding-left: 10px;
        margin-bottom: 0;
    }
}}

.cs_menu_toggle{
    display: inline-block;
    width: 30px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    

    span,
    span:before,
    span:after{
        width: 100%;
        height: 2px;
        display: block;
        background-color: black;
    }
    span{
        margin: 0 auto;
        position: relative;
        top: 12px;
        transition-duration: 0s;
        transition-delay: 0.2s;
        
        
        
        &::before{
            content: '';
            position: absolute;
            margin-top: -9px;
            transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
        }
        &::after{
            content: '';
            margin-top: 9px;
            position: absolute;
            transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
        }
    }
}
.cs_menu_toggle{
    display: none;
}