.cs_hero {
    position: relative;

    .cs_hero_img {
        width: 100%;
    }

    .cs_hero_text {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
    }
    @media screen and (max-width: 994px) {
        .cs_hero_text{
            h1{
                font-size: 36px;
            }
        }
       .cs_hero_text{
        top: 20%;
       }
       .cs_hero_img{
        max-width: max-content !important;
        width: auto;
       }
    }
}

.cs_searching_bar {

    .cs_serching_bar_middle {
        display: flex;
        justify-content: center;

    }

    & .cs_searching_bar_in {

        padding: 0 20px;
        background: #ffff;
        position: relative;
        top: -10px;
        width: 945px;
        height: 82px;
        border-radius: 8px;
        box-shadow: 5px 4px 8px 0 rgba(153, 155, 168, 0.15);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;

        @media screen and (max-width: 991px) {
            padding: 16px 20px;
            top: -200px;
           
            .cs_searching_bar_btn {
                padding: 12px 200px !important;
            }
           
            .cs_bar_item {
                width: 100%;
            }
            display: flex;
            flex-direction: column;
            width: 70%;
            height: 366px;

            div {
                div {
                    display: flex;
                    justify-content: space-between;

                    @media screen and (max-width: 11990px) {
                        flex-direction: column;


                    }
                }
            }

        }

        div {
            &>div {
                font-size: 14px;
                padding-bottom: 0;

                p {
                    padding-bottom: 0;
                }
                i {
                    padding-left: 50px;

                }
            }
        }
    }
}

.cs_brands {
    display: flex;
    justify-content: space-between;

    &>i {
        font-size: 18px;
        color: gray;
    }
}

.cs_btn {
    background-color: var(--primary);

    border-radius: 8px;
    align-items: center;
    justify-content: center;
    color: #ffff;
}

.cs_btn {

    // padding-top: 0 !important;
    i {
        padding-right: 10px;
    }
}

.cs_bar_item {
    align-items: flex-end;
    justify-content: space-between;

    i {
        padding-left: 50px;
    }
}

@media screen and (max-width: 1199px) {
    .responsive-break {
        display: none;
    }
    .cs_brands{
       img{
        &:first-child{
            display: none;
        }
        &:nth-child(2){
            display: none;
        }
        &:nth-child( 3){
            display: none;
        }
       }
       padding-bottom: 60px;
    }

}